@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    color: #fff;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  #loginWelcome {
    background: url('/img/TWIPIERRE.png') center center no-repeat;
  }

  .toRegister {
    text-align: center;
    padding-top: 2rem;
  }
}
